<div class="row ">
    <div class="parent col-3 bg-info-subtle vh-100 py-4">
        <ul>
            <div class="list-itames">
                <h4 class="text-decoration-none"><i class="bi bi-plus-lg"></i><samp class="mx-3">Add Book</samp></h4>
                <br>
                <h4 class="text-decoration-none"><i class="bi bi-x-lg"></i><samp class="mx-3">Delete Book</samp></h4>
                <br>
                <h4 class="text-decoration-none"><i class="bi bi-journal-text"></i><samp class="mx-3">View Book</samp>
                </h4><br>
                <h4 class="text-decoration-none"><i class="bi bi-person-plus-fill"></i><samp class="mx-3">Add
                        Student</samp></h4><br>
                <h4 class="text-decoration-none"><i class="bi bi-journal-plus"></i><samp class="mx-3">Issue Book</samp>
                </h4><br>
                <h4 class="text-decoration-none"><i class="bi bi-reply-fill"></i><samp class="mx-3">Return Book</samp>
                </h4><br>
                <h4 class="text-decoration-none"><i class="bi bi-table"></i><samp class="mx-3">Report</samp></h4><br>
            </div>
        </ul>
    </div>
    <div class="col-9">
        <div class="row vh-100">
            <div class="col-lg-6">
                <div class="card bg-dark-subtle">
                    <div class="card-title text-center py-4 form-control-lg"><b>No. Of Books</b></div>
                    <div class="card-body">
                        <canvas id="barchart"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card bg-warning-subtle">
                    <div class="card-title text-center form-control-lg"><b>No. Of Books</b></div>
                    <div class="card-body">
                        <canvas id="piechart"></canvas>
                    </div>
                </div>
            </div>
            <h3><b>Issued Book Summary</b></h3>
            <div class="multi-color-table">
                <table class="table table-bordered table-striped table-success">
                    <thead>
                        <tr>
                            <th>S N0.</th>
                            <th scope="col" class="text-white">ISBN</th>
                            <th scope="col">Booking Name</th>
                            <th scope="col">Author</th>
                            <th scope="col">Rpll No.</th>
                            <th scope="col">Name</th>
                            <th scope="col">Issued On</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (item of propertyList; track $index) {
                            <tr>
                                <td>{{$index + 1}}</td>
                                <td>{{item.isbn}}</td>
                                <td>{{item.bookName}}</td>
                                <td>{{item.author}}</td>
                                <td>{{item.rollNo}}</td>
                                <td>{{item.Name}}</td>
                                <td>{{item.issuedDate}}</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>